files/xsd/configuration.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
Configuration type definitions.

Maintainer: Richard Neumann <r dot neumann at homeinfo fullstop de>
-->

<xs:schema  xmlns="http://xml.homeinfo.de/schema/presentation"
            xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
            targetNamespace="http://xml.homeinfo.de/schema/presentation">
    <xs:include schemaLocation="attachments.xsd"/>
    <xs:complexType name="Configuration">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Eine Konfiguration.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Name der Konfiguration.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Beschreibung der Konfiguration.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="font" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Schriftart.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="portrait" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Soll Portrait Darstellung verwendet werden?
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="touch" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Handelt es sich um ein Touch System?
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="design" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Das verwendete Design.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="effects" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Sollen Effekte verwendet werden?
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ticker_speed" type="xs:unsignedShort">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Geschwindigkeit des Tickers.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="colors" type="Colors">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Die verwendeten Farben.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="title_size" type="xs:unsignedShort">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Größe des Titels.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="text_size" type="xs:unsignedShort">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Größe des Texts.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="logo" type="Attachment" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Firmenlogo.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="background" type="Attachment" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Hintergrundbild.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dummy_picture" type="Attachment" minOccurs="0">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Platzhalterbild.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="hide_cursor" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Soll der Cursor ausgeblendet werden?
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="rotation" type="xs:unsignedShort">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Rotation in Grad.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="email_form" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Soll ein E-Mail Formular angezeigt werden?
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume" type="xs:unsignedShort">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Lautstärke.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ticker" type="Ticker" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Ticker.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="backlight" type="Backlight" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Hintergrundbeleuchtung.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Colors">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Farben der Konfiguration.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="header" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Farbe der Kopfzeile.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="header_background" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Hintergrundfarbe der Kopfzeile.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="background_left" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Hintergrundfarbe links.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="background_right" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Hintergrundfarbe rechts.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ticker" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Farbe des Tickers.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ticker_background" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Hintergrundfarbe des Tickers.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="clock" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Farbe der Uhr.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="title" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Farbe des Titels.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="text" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Textfarbe.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="text_background" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Hintergrundfarbe des Texts.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Ticker">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Ein Ticker.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="type" type="xs:string">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Typ des Tickers.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="text" type="Text" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Ticker Texte.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="url" type="URL" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Ticker Texte.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="Text">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Ein Ticker Text.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="index" type="xs:positiveInteger">
                    <xs:annotation>
                        <xs:documentation xml:lang="de">
                            Position.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="URL">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Eine Ticker URL.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="index" type="xs:positiveInteger">
                    <xs:annotation>
                        <xs:documentation xml:lang="de">
                            Position.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <xs:complexType name="Backlight">
        <xs:annotation>
            <xs:documentation xml:lang="de">
                Einstellung zur Hintergrundbeleuchtung.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="time" type="xs:time">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Zeitstempel.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="brightness" type="xs:unsignedShort">
                <xs:annotation>
                    <xs:documentation xml:lang="de">
                        Helligkeit in Prozent.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>